.modal-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background: #ebebeb;
  border: 2px solid #b83290;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 20px 30px 30px;
}

@media (max-width: 500px) {
  .modal-box{
    width: 300px !important;
  }
  .modal-box h2{
    font-size: 15px;
  }
}

.modal-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: #ebebeb;
  border: 2px solid #b83290;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 20px 30px 30px;
}